{{define "user-profile-content"}}
<h1>
  Hi {{if (.Pilot.GetString "name")}}{{.Pilot.GetString "name"}}{{else}}
  There{{end}}
</h1>

<form hx-patch="/profile/{{.Pilot.Id}}" hx-target="#profile-error">
  <label for="name">Name</label>
  <input
    id="name"
    name="name"
    type="text"
    value="{{.Pilot.GetString `name`}}"
  />
  <label for="is_instructor">Is instructor?</label>
  <input
    type="checkbox"
    id="is_instructor"
    name="is_instructor"
    {{if
    (.Pilot.GetBool
    `is_instructor`)}}checked{{end}}
  />
  <label for="cfi_certificate_number"> CFI Number </label>
  <input
    type="text"
    name="cfi_certificate_number"
    id="cfi_certificate_number"
    value="{{.Pilot.GetString `cfi_certificate_number`}}"
  />
  <button type="submit">Save</button>
</form>
<div id="profile-error"></div>

<a href="/dashboard">Return to dashboard</a>
{{end}}
